<div>
    @switch (mode){
    @case(0){
    @if(userService.users().length == 0){
    <p>There are not users registered</p>
    }
    @for (user of userService.users(); track user.id) {
    <app-user-display [name]="user.name" [profiles]="user.profiles" [id]="user.id" (editClicked)="openEdit(user)"
        (deleteClicked)="openDelete(user)"></app-user-display>

    }
    <div>
        @for (page of userService.pages(); track page) {
        <button (click)="changePage(page)"> {{page+1}}</button>
        }
    </div>
    <div>
        <button (click)="userService.fetchUsers(numberPage)" [disabled]="userService.loading()">Reload</button>
        <button (click)="openCreate()">Create user</button>
    </div>

    }
    @case (1) {
    <button (click)="backToView()">Voltar</button>
    <app-modifing-profile [user]="selectedUser"></app-modifing-profile>

    }
    @case (3) {
     <app-creating-user (createEvent)="backToView()"></app-creating-user>
    }


    }


</div>