<section>
    <p>Editar usuario</p>

    <div class="alter-name-display">
        <input #nameInput [value]="actualStateUser.name" (input)="onNameChange(nameInput.value)">
    </div>

    @for (profile of actualStateUser.profiles ; track $index) {
    <div class="show-user-profiles">
        <div class="profile-infos-display">
            <p>{{profile.description}}</p>
            <button (click)="deleteItem(profile)" [disabled]="userService.loading()">Delete</button>
        </div>
    </div>
    }

    @for (item of errors; track $index) {
        <p>{{ item }}</p>
    }

    <div class="profile-infos-display">
        <select #profileSelect>
            @for (profile of getProfiles(); track $index) {
            <option [value]="profile.id">
                {{ profile.description }}
            </option>
            }
        </select>
        <button (click)="onProfileChange(profileSelect.value)">Incluir</button>
    </div>

    <button (click)="resetForm()" [disabled]="userService.loading()">Reset</button>
    <button (click)="saveChanges()" [disabled]="userService.loading()">Save</button>
    @if (userService.loading()) {
        <p>Loading...</p>
    }

</section>